[submodule "docs/usecase"]
	path = docs/usecase
	url = https://git.overleaf.com/14423395dhpzyjhytjcs
[submodule "docs/designdoc"]
	path = docs/designdoc
	url = https://git.overleaf.com/14422811ssxtzsfsnxdd
[submodule "docs/testspec"]
	path = docs/testspec
	url = https://git.overleaf.com/14423457gtchkhnhyjgk
[submodule "docs/testreport"]
	path = docs/testreport
	url = https://git.overleaf.com/15890117htwnyfzfbtxf
[submodule "docs/endprojreport"]
	path = docs/endprojreport
	url = https://git.overleaf.com/15890593spztrvxnsfqh
